[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Vulkan-ValidationLayers"]
	path = Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang
